body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
}

.container {
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1, h2, h3 {
    text-align: center;
    color: #2c3e50;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 40%;
}

button {
    padding: 8px 12px;
    background-color: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #219150;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ecf0f1;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}
